@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
.card--disabled {
  filter: blur(1px) grayscale(100%);
}
.card--active {
  transform: scale(1.2);
}

/* Sticky footer */
html,
body,
#__next {
  height: 100%;
}
#__next {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  padding: 2px 6px;
  position: absolute;
  z-index: 100;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}
