@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.2);
}
.card--disabled {
  filter: blur(15px) grayscale(100%);
}
